
<% @posts.sort_by{|t| - t.created_at.to_i}.first(1).each do |post| %>
    <div id="featPost">
      <div style="margin-left: 300px; margin-top: 55px;"><%= image_tag post.avatar.url %> </div>
      <div style="position:relative;top:-475px;">
          <div class="date">
            <%= post.created_at.strftime("%m . %d . %Y") %>
          </div>
          <div class="postTitle">
            <%= link_to post.title, post %>
          </div>
          <div class="postAuthor">
            Author:&nbsp;<%= link_to post.author.name, post.author %>
          </div>
          <div class="margin-left">
            <div class="postTags">
              Tags:&nbsp;<%=raw  post.categories.map{|c| link_to (c.name).html_safe,  category_path(c)}.join(", ") %>
            </div>
            <% if post.video_url.blank?  %>
                <% else %>
                    <div class="postVideo">
                      Video:&nbsp;<%= link_to post.video_url.sub("http://", "") , post.video_url %>
                    </div>

            <% end %>
          </div>
      </div>
      <div class="postCircle">
        <%= link_to image_tag("http://localhost:3000/images/circle.png", :border=>0), post %>
      </div>
      <div class="bottomLine">
        <img src="images/bottomLine.jpg" width="940" height="8" />
      </div>
    </div>

<% end %>
<div id="bottomPostSect">
  <div id="tagCloud">
    <a class="viewAll" href="<%= root_url%>"><img src="<%= root_url%>images/homeIcon.png" width="40" height="40" alt="Home" /></a>   <br/>
    <div style="float:left;" id="tags">
    <% @tags.each do |tag| %>
    <%= link_to tag.name, category_path(tag), :id => tag.id %>
        <% end %>
    </div>
  </div>
  <div id="postSect">
<% @posts[1..-1].each do |post|  %>
        <% if post.active? %>
        <div class="post">
          <div class="postDate">
            <%= post.created_at.strftime("%m . %d . %Y") %>
          </div>
          <div><%= image_tag post.avatar.url(:medium) %></div>
          <div class="contentSect">
            <div class="yellowBar"></div>
            <div class="postTitle">
              <%= link_to post.title, post %>
            </div>
            <div class="yellowCircle">
              <%= link_to image_tag("http://localhost:3000/images/smallCircle.png", :border=>0), post %>
            </div>
          </div>
        </div>
       <% end %>

 <% end %>


  </div>
  <div class="bottomLine">
    <img src="<%= root_url%>images/bottomLine.jpg" width="940" height="8" />
  </div>
  <div id="pagination">
    <div id="page">
      <%= will_paginate @posts %>
    </div>
    <div id="archive">
      <a href=""><img src="<%= root_url%>images/archive.jpg" width="98" height="26" alt="archive" /></a>
    </div>
  </div>
  <div class="bottomLine">
    <img src="<%= root_url%>images/bottomLine.jpg" width="940" height="8" />
  </div>
</div>